/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



@tailwind base;
@tailwind components;
@tailwind utilities;

@import "keen-slider/keen-slider.min.css";

@layer base {
  body {
    @apply font-sans text-[17px] leading-[1.7] text-orange-500;
  }

  h1, h2, h3, h4 {
    @apply font-semibold leading-tight;
  }

  biv {
    @apply bg-[#FFF8E7];
  }
}